
<div class="centered">
  <div class="gift-container">
    <div class="title p-2 m-4 text-center">
      <h1>Ma Liste de Cadeaux</h1>

    </div>

    <div class="list-card">

      <div class="idea-card-body d-flex justify-content-center align-items-center pt-2">
        <div class="idea-wrappers">

          <% @ideas.where(chosen_by_id: current_user.id, status: true).each do |idea| %>

            <div id="modal-idea-<%=idea.id%>">
              <%= render 'idea_modal', idea: idea %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

