
<div class="list_container">
    <h2 id="events-title">
  <h2> Ma liste de course </h2>


  <div class="list-idea-card spacer-right">

    <div class="idea-card-title text-center d-flex align-items-center justify-content-center">
      <h4 class='mb-0 text-uppercase'> Les cadeaux choisi</h4>
    </div>

    <div class="idea-card-body pt-4">
      <div class="idea-wrappers">

        <% @ideas.where(chosen_by_id: current_user.id, status: true).each do |idea| %>

          <div id="modal-idea-<%=idea.id%>">
            <%= render 'idea_modal', idea: idea %>
          </div>

        <% end %>
      </div>
    </div>
</div>

</div>

