
<div class="title p-2 m-4">
  <h1>Giftlist</h1>

</div>

  <div class="list-idea-card">

    <div class="idea-card-title text-center d-flex align-items-center justify-content-center">
      <h4 class='mb-0 text-uppercase'> Mes Cadeaux Choisi</h4>
    </div>

    <div class="idea-card-body pt-4">
      <div class="idea-wrappers">

        <% @ideas.where(chosen_by_id: current_user.id, status: true).each do |idea| %>

          <div id="modal-idea-<%=idea.id%>">
            <%= render 'idea_modal', idea: idea %>
          </div>

        <% end %>



      </div>
    </div>

