<h2>Bonjour, <%= @email %></h2>
<p> <%= @inviter.email %> souhaite t'intégrer à sa Mif, pour y acceder il te suffit de suivre le lien ci-dessous.</p>
<!-- <p>Une nouvelle Mif t'attend, pour y acceder il te suffit de suivre le lien ci-dessous.</p> -->

<%= link_to "Rejoins notre liste", event_url(@event.token)  %>
