.title-event {
  font-family: 'Ubuntu';
  position: absolute;
  text-align: center;
  color: #F2C164;
  left: 50%;
  transform-origin: center;
  transform: translatex(-50%) translateY(-50%);
  top: 50%;
  z-index: 1;

  > h1 {
    text-transform: uppercase;
    font-size: 60px
  }
}
.avatar-bordered {
    width: 140px;
    height: 143px;
    border-radius: 48%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border:  4px  solid;
    border-color: #8FC6C1;
    object-fit: cover;
}
.avatar-bordered.avatar-bordered-me {
    border-color: #FD9F87;
}
.avatar-small {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border:  2px  solid;
    border-color: white;
    object-fit: cover;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-div {
  position: relative;
}

.circle-container {
  @include on-circle($item-count: 6, $circle-size: 37em, $item-size: 10em);
  margin: 5em auto 0;
  border: solid 5px;
  border-color : #F2DCC5;
  }

.modal-header-white {
  background-color: white;
  color: white;
}

.modal-header {
  background-color: #8FC6C1;
  color: white;
}

.modal-header.modal-header-me {
  background-color: #FD9F87;
}




