#events_index h3 {
  margin-top: 30px;
}

.container {
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.event_container {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 60px;

}

// .lists-container {
//   display: flex;
//   flex-wrap: wrap;
//    margin-right: 40px;
//   margin-bottom: 20px;
//   margin-left: 40px;
// }
.list-idea-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 320px;
  background: white;

  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.idea-card-title {
  background: #FD9F87;
  height: 80px;
  border-radius: 4px 4px 0px 0px;
  color: white;
  padding: 10px 20px;
}

.idea-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}
.idea-wrapper-icon {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.idea-wrapper-text {
  font-family: Ubuntu;
  flex-grow: 1;
  color: #1B2644;
  line-height: 20px;
  padding-bottom: 30px;
}

.idea-wrapper-description {
  font-family: Lora;
  color: #1B2644;
  line-height: 20px;
}
#events-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #1B2644;
}

.view {
 font-family: Ubuntu;
 font-size: 20px;
 flex-wrap: wrap;

}


.new-event {
  height: 50px;
  width: 250px;
}

.idea-wrappers {
  overflow-y:scroll;
  height: 368px;
}

.titre {
  margin-top: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #1B2644;
  margin-left: 40px;
}

.titre_Sous {
  margin-top: 2px;
  font-size: 20px;
  color: #1B2644;
  font-weight: bold;
  margin-left: 40px;

}


.view a {
 color: #1B2644;
}

.view:hover a {
 color: #FD9F87;
}

.grow-card img {
  transition: all .2s ease-in-out;
}
.grow-card:hover img {
  transform: scale(1.15);
}

.spacer {
  height: 120px;
  width: 100%;
}

