#events_index h3 {
  margin-top: 30px;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
}
.list-idea-card {
  width: 350px;
  background: white;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 15px;
  border-radius: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.idea-card-title {
  background: #FD9F87;
  height: 64px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.idea-wrapper {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.idea-wrapper-icon {
}
.idea-wrapper-text {
  flex-grow: 1;
  padding: 5px;
}

.new-event {
  height: 50px;
  width: 250px;
}

.idea-wrappers {
  overflow-y:scroll;
  height: 368px;
}

.titre {
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  color: #1B2644;
  margin-left: 40px;
}

.titre_Sous {
  margin-top: 2px;
  font-size: 20px;
  color: #1B2644;
  font-weight: bold;
  margin-left: 40px;

}

.titre_event {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

