.list_container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.list-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 900px;
  height: 500px;
  background: white;
  margin: 50px auto;
  padding: 50px 80px;

  #events-title {
    z-index: 1;
    text-align: center;
    margin-top: -73px;
    margin-bottom: 35px;
  }
}

.idea-title {
  font-family: Ubuntu;
  flex-grow: 1;
  color: #1B2644;
  line-height: 20px;
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;

}

.idea-description {
  font-family: Lora;
  color: #1B2644;
  line-height: 20px;
  font-size: 12px;
}

.idea-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

#new_comment {
  label {
    display: none;
  }
}

#new_comment textarea,
.comments li {
    height: 30px;
    border: none;
    background: #e6e6e6;
    border-radius: 10px;
    font-size: 12px;
    padding: 7px 14px;
    color: grey;
    margin-bottom: 10px;
}
.comments ul {
  padding: 0;
  list-style: none;
}

// .comments {
// height: 10px;

// }

// .comments-form {
// height: 20px;

// }


