

.nouvelle-idee
{
width: 500px;
margin-top: 20px;
height: 50px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 55px;
color: #1B2644;
}

.topo
{
width: 628.59px;
height: 40.99px;
left: 414px;
top: 253.61px;
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 31px;
color: #1E2B4B;
  p {
    color: #1E2B4B;
  }
}



.form-spe
{
border-radius: 5px;
border-width: thin;
  &::placeholder {
    color: #1B2644;
    font-family: Ubuntu;
    font-weight: 300;
  }
}



.modal-body {
  padding: 2rem;
}

#exampleModal .modal-header {
      background-color: white;
      text-align: center;
      height: 200px;
}


