<div class="footer">
  <div class="footer-links">
    <p><%= image_tag ("picto_instagram.png") %> Créez votre #mif sur instagram</p>
  </div>
  <div class="footer-contact">
    <p> Contactez le service client de la Mif<a href="mailto:ello@lamif" class="link-mail"> ici </a>!</p>
  </div>
</div>

