<head><link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu&display=swap" rel="stylesheet">

 </head>


<div class="Title_event" >

  <h1><%= @event.name %></h1>
</div>

  <div> <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-one avatar-bordered" /> </div>
  <div> <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-two avatar-bordered" /> </div>



