
<div class="container large">
  <div class="row">
      <div class="left-container col-md-6 col-12">
        <div class="text-container">
          <h1>
            LA MIF
          </h1>
          <h3>
            Les kids on the Père-Noël, les grands ont la Mif !
          </h3>
          <p>
            Inscrivez les membres de votre famille sur la Mif et partagez ensemble vos idées de cadeaux !
          </p>
        </div>
        <div class="button-container">
          <div class="button-coral">
            <p>Mes listes</p>
          </div>
          <div class="button-tiffany">
            <p>Celles de mes proches</p>
          </div>
        </div>
      </div>
      <div class="image-container col-md-6 col-12">
        <img src="/assets/xmas_home.jpg" alt="christmas">
      </div>
  </div>
</div>