
<div class="container large">
  <div class="row">
      <div class="left-container col-md-6 col-12">
        <div class="text-container p-2">
          <h1 id="home-title">
            LA MIF
          </h1>
          <h3>
            Les kids ont le Père-Noël, les grands ont la Mif !
          </h3>
          <p>
            Inscrivez les membres de votre famille sur la Mif et partagez ensemble vos idées de cadeaux !
          </p>
        </div>
          <div class="button-container">
            <button type="button" class="button-coral" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><p>Créer un évènement</p></button>
          </div>
            <%# @events.each do |event| %>
              <%# event.lists.where(user: current_user).each do |list| %>
                <%= render 'events/event_modal', event: @event %>
              <%# end %>
            <%# end %>
        </div>
      <div class="image-container col-md-6 col-12">
        <%= image_tag ("xmas_home.jpg") %>
      </div>
  </div>
</div>








