
a {
  text-decoration: none;
  color: black;
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.idea-card {

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #e2dfdf;
  width: 450px;
  height: 100px;
  padding: 12px;

  img {
    width: 50px;
    height: 50px;
  }

  p {
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: Light;
  }
}

.card-container {
  background-color: white;
  border: 1px solid lightgray;
  width: 450px;
  min-height: 560px;
}
