.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  flex-shrink: 0;
  // position: sticky;
  // left: 0;
  // bottom: 0;
  color: #1B2644;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.link-mail {
  color: #FD9F87;
  text-decoration: none;
}

.footer-contact {
  font-size: 40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .img {
  vertical-align: bottom;
  margin-right: 30px;
}
