#pages_home .navbar {
  background-color: #F2DCC5;
  color: #1B2644;

  .nav-link {
    color: $bleu-nuit !important;
  }
}
.navbar {
  height: 96px;
  background-color: #1B2644;
  color: white ;

  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon {
  height: 96px;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .navbar-nav .nav-item .nav-link, .navbar-nav .nav-item.active .nav-link, .nav-item .nav-link {
//   color: white;
// }

